[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
pyparsing = "*"
typing-extensions = "*"

[dev-packages]
hatch = "~=1.14"
mypy = "~=1.10"
pytest = "*"
ruff = "0.6.9"

[requires]
python_version = "3.7"
