[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
pyparsing = "*"

[dev-packages]
hatch = "~=1.14"
mypy = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.13"
